In [152]:
import pandas as pd

In [153]:
mydata = pd.read_csv("../data/nancy_sus/transcripts/p1_output.csv", sep = "|")

In [154]:
mydata.head()

,result_2011_0001,result_2011_0002,result_2011_0003,result_2011_0004,result_2011_0005,result_2011_0016,result_2011_0020,result_2011_0010,result_2011_0008,result_2011_0015,...,result_2011_0087,result_2011_0100,result_2011_0096,result_2011_0098,result_2011_0091,result_2011_0089,result_2011_0093,result_2011_0099,result_2011_0097,Unnamed: 100
0,0.0,0.143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [155]:
mydata_final = pd.melt(mydata)
mydata_final = mydata_final[:-1]

In [156]:
mydata_final['percentage'] = mydata_final['value'] * 100

In [157]:
n = 'p1'
mydata_final['Subject'] = n
mydata_final.head()

           variable  value  percentage Subject
0  result_2011_0001  0.000         0.0      p1
1  result_2011_0002  0.143        14.3      p1
2  result_2011_0003  0.000         0.0      p1
3  result_2011_0004  0.000         0.0      p1
4  result_2011_0005  0.000         0.0      p1

In [158]:
#my_pupil_data = pd.read_csv("../experiments/nancy_sus/preprocessing/p1.csv")

#my_pupil_data.head()
#print(mydata_final['Subject'][0])

In [159]:
#search = mydata_final.variable.str.slice(12,17)
#for idx,value in enumerate(search):
#    results = my_pupil_data[my_pupil_data.STIMULI.str.contains(str(value))]
#    if not results.empty:
#        result = results.iloc[0]
#        system = results.SYSTEMS
        #mydata_final['SYSTEM'][idx] = system
#        df.iloc[idx].SYSTEM = system

In [160]:
with open("../data/nancy_sus/mappings.txt") as map:
        mappings = map.readlines()
        mappings = [y.strip() for y in mappings]

In [161]:
for idx,perm in enumerate(mappings):
            if n in perm:
                permutation = mappings[idx]
                perm = permutation.split(" ")
                perm_num = int(perm[1])
                correct_file = perm[2]
                systems = perm[3]
                systems = eval(systems)

In [162]:
nTrials = len(mydata_final)/len(systems)
system_trials = []
for system in systems:
    for i in range(0,int(nTrials)):
        system_trials.append(system.strip())  

mydata_final['System'] = system_trials

In [168]:
mydata_final.head()

            Stimuli    WER  WER_% Subject System
0  result_2011_0001  0.000    0.0      p1      I
1  result_2011_0002  0.143   14.3      p1      I
2  result_2011_0003  0.000    0.0      p1      I
3  result_2011_0004  0.000    0.0      p1      I
4  result_2011_0005  0.000    0.0      p1      I

In [164]:
mydata_final.rename(columns={'variable': 'Stimuli', 'value': 'WER','percentage':'WER_%'}, inplace=True)

             Stimuli  WER  WER_% Subject System
95  result_2011_0091  0.0    0.0      p1      E
96  result_2011_0089  0.0    0.0      p1      E
97  result_2011_0093  0.0    0.0      p1      E
98  result_2011_0099  0.0    0.0      p1      E
99  result_2011_0097  0.0    0.0      p1      E

In [167]:
csv_filename ='test.csv'
mydata_final.to_csv(csv_filename, encoding='utf-8', index=False)

In [203]:
threshold=20
exclusions = mydata_final[mydata_final['WER_%'] > 10]
exclusion_list = exclusions.index.tolist()
excluded_trials = n + " "
for trial in exclusion_list:
    trial_index = trial + 1
    excluded_trials = excluded_trials + str(trial_index) + " " 

#exclusion_list.append[excluded_trial]
excluded_trials
#exclusion_list

'p1 2 16 18 41 54 59 63 88 '

In [204]:
with open("../experiments/nancy_sus/preprocessing/exclude.txt") as exl:
        excluded = exl.readlines()
        excluded = [y.strip() for y in excluded]

In [205]:
excluded

['p1#2 16 18 41 54 59 63 88',
 'p2#',
 'p3#7 11 12 13 30 32 36 40 41 45 46 47 54 56 58 59 62 63 65 68 73 76 77 80 84 89 96 98']

In [208]:
exclude_trials = ''
for idx,lists in enumerate(excluded):
    if n in lists:
        exclude = excluded[idx]
        exclude_trials = exclude.split("#")
        exclude_trials = exclude_trials[1]

In [209]:
exclude_trials

'2 16 18 41 54 59 63 88'

In [214]:
trial_index = 59
if str(trial_index) not in exclude_trials:
    print("Not excluded")